<!DOCTYPE html>
<html lang="en">
<head>

    <title>Post Method</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/mainpage.css">
</head>
<body>
    <div class="nav">
        <ul>
            <li><a href="./">Home</a></li>
                <li><a href="./imagebg">Image Background Removal</a></li>
                <li><a href="./realtime">RealTime Removal</a></li>
                <li><a href="./trial.html">Trial</a></li>
          </ul>
      </div>
<h1>post method</h1>
<form methods="POST">
    <input name="text">
    <input type="submit">
    </form>

</body>
</html>