* {
    box-sizing: border-box;
    margin: auto;
    text-align: center;
}

body {
    background-color: rgba(62, 158, 17, 0.39);
}

header {
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
    
}
header li :hover{
    background-color: rgb(121, 122, 122);
    padding: 20px;
    color: white;
   
}

header li a {
    color: black;
    text-decoration: none;
}

h1, .indexH {
    margin:20px;
    padding: 5px;
    color: rgb(31, 41, 126);
    font-weight: bold;
    font-family: cursive;
    background-color: rgb(214, 255, 168);
}
.info{
    box-shadow: 0 0 25px  rgb(217, 255, 2);
    padding: 15px;
    margin: auto;
    width: fit-content;
    border-radius: 10px;
    border: 2px solid rgb(217, 255, 47);
    background-color: rgb(196, 245, 62);
    font-weight: 500;
    font-size: large;
    margin-bottom: 20px;
}
.byname, .byadd{
    margin: 30px;
    align-items: center;
    background-color: rgb(3, 92, 95);
    padding: 10px;
    height: 20vh;
    border: 5 solid rgb(215, 223, 215);
    border-radius: 5px;
    width: max-content;
    display: inline;
}
.btn1 {
    background-color: rgb(5, 83, 15);
    padding:5px;
    border-radius: 5px;
    font-family: cursive;
    font-weight: 500;
    color: aliceblue;
}
.option {
    padding: 4px;
    margin-top: 10px;
}

.btn {
    background-color: rgb(44, 44, 255);
    padding:15px;
    margin: 5px 10px;
    border-radius: 5px;
    font-family: cursive;
    font-weight: 500;
    color: aliceblue;
}
.btn:hover{
    background-color: rgb(10, 10, 192);
}
.btn1:hover{
    background-color: rgb(181, 181, 250);
}
.btn::after{
    color: rgb(232, 16, 240);
}